body{
    background-color: bisque;
    text-align: center;
    width: 1000px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: #393E46;
}

#tenor-gift{
    margin-top: 30px;
    margin-left: 10px;
  
}


.imgTenor{

    width: 30px;
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

img{
  width: 150px;
  height: 150px;
    margin-left: 5px;
    border: solid 2px #FF9D72;
}

#button-tenor{
    margin-left: 100px;
    margin-top: 10px;
    background-color: #FFE05D;
    border: 2px solid #393E46;
}
#input-tenor{
    width: 50%;
    border: 3px solid #FFF8CD;
}

#button-tenor:hover{
    background-color: #FF7777;
}